#grid {
  background-color: transparent;
  border: 5px solid #000000;
}
#grid .col-md-1 {
  padding: 0px;
}
#grid .square {
  background-color: lightblue;
  border: 1px solid #000000;
  cursor: pointer;
  padding: 0;
  margin: 1px;
}
#grid .square.miss {
  background-color: red;
}
#grid .square:hover {
  background-color: #ffffff;
}
